.vpd-time .vpd-time-h .counter, .vpd-time .vpd-time-m .counter {
    direction: ltr !important;
}

.vpd-next svg,
.vpd-prev svg {
    display: inline;
}

.ltr-direction {
    direction: ltr !important;
    text-align: left;
}
.rtl-direction {
    direction: rtl;
}
.rtl-font-size {
    font-size: 12px;
}